<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/home.css">
    <title>Home</title>
</head>
<body>
    <div class="box">
        <h1 class="heading">Mapping</h1>
        <form class="form" action="/excelData" method="post">
            <label>Excel 1: <input type="text" id="col1" name="column1" placeholder="Column Name."></label><br><br>
            <label>Excel 2: <input type="text" id="col2" name="column2" placeholder="Column Name."></label><br><br>
            <input class="button" type="submit" value="MAP" name="submit">
        </form>
    </div>
</body>
</html>